
*.obj

*.pdb

*.log

*.tlog

addon/ms-logon/workgrpdomnt4/Debug/

addon/Release/

*.pch

winvnc/Debug/

winvnc/Release/

addon/ms-logon/testauth/Debug/

*.user

*.db

addon/ms-logon/authadm/Debug/

addon/ms-logon/ldapauth/Debug/

addon/ms-logon/ldapauth9x/Debug/

addon/ms-logon/ldapauthNT4/Debug/

uvnc_settings2/uvnc_settings/Debug/

winvnc/vnchooks/Debug/

winvnc/winvnc/Debug/

libjpeg-turbo-win/Debug/

rdr/Debug/

setcad/setcad/Debug/

setpasswd/setpasswd/Debug/

*.ipch

winvnc/.vs/winvncVS2017/v15/.suo

addon/ms-logon/MSLogonACL/Debug/

addon/ms-logon/logging/Release/

addon/ms-logon/authSSP/Debug/

addon/ms-logon/authadm/Release/

avilog/avilog/Debug/

winvnc/UpgradeLog.htm

zipunzip_src/zip20/windll/visualc/lib/Debug/

winvnc/winvnc/Release/

winvnc/vnchooks/Release/

addon/ms-logon/logging/Debug/

addon/ms-logon/ldapauth/Release/
